@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
#menubar-name {
  padding-left: 110px;
  font-size:3em;
  top: 5px;
  white-space: nowrap;
  margin-top: 10px;
}

body {
  margin: 0;
  padding: 0;
  background: #232323;
  color: #cdcdcd;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}


#menuToggle {
  display: block;
  position: relative;
  top:50px;
  left: 40px;
  z-index: 3;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: rgb(255, 135, 114);
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ffffff;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
 #menu {
  position:fixed;
  top:0;
  left: 0; /* Adjust based on your layout */
  width: 315px; /* Your set width */
  height: 100vh;
  margin-top: -10px;
  padding-top: 100px; /* Your set padding */
  background: #5a5a5a; /* Your set background */
  opacity: 90%;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}


#menu li {
  padding: 10px 0;
  color: white;
  font-size: 40px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}


/*END OF HEADER*/


.container {
  display: grid;
  grid-template-columns: auto min-content 1fr; /* Keep your column sizes */
  grid-template-rows: auto auto auto; /* Add a third row for the video */
  grid-template-areas: 
    "profile socials info"
    "bio bio bio"
    "video video video"; /* New line for the video */
  gap: 20px;
  max-width: 1000px;
  margin: auto;
}


.container {
  display: grid;
  grid-template-areas: 
    "profile socials info"
    "bio bio bio"
    "video video video"; /* Assuming you add this area */
  gap: 20px;
}
.profile-image {
  grid-area: profile;
  width: 100%;
  max-width: 300px; /* Adjust based on your actual image size */
  border-radius: 15%;
}

.social-media-links {
  grid-area: socials;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start; /* Align items to the start */
}
.social-logo {
  width: 50px;
  height: 50px;
}



.personal-info {
  grid-area: info;
  color: white;
  padding: 20px; /* Adjusted padding */
  border-radius: 15px; /* Ensure border-radius is visible */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content */
  box-sizing: border-box; /* Include padding in the element's total width and height */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:30px;
}

.personal-info h1, .personal-info .subtitle {
  margin: 0;
  padding: 0; /* Reset default margin and padding */
}

.personal-info h1 {
  font-size: 3.5em; /* Increase font size for name */
}

.personal-info .subtitle {
  font-size: 1.7em; /* Increase font size for occupation */
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blinking-cursor {
  animation: blink 1s infinite;
  font-weight: bold;
}



.bio {
  position: relative;
  grid-area: bio;
  background: #343434; /* Solid background color for the bio section */
  color: #c0c0c0; /* Text color */
  padding: 30px;
  border-radius: 30px;
  box-sizing: border-box;
  margin: 30px; /* Adjust margin to ensure space for the border */
  overflow: hidden; /* Important for the gradient border */
  font-size: 30px;
  font-family: "Roboto Condensed";
}

.video-container {
  grid-area: video; /* Assign it to the 'video' area */
  display: flex;
  justify-content: center; /* Centers the iframe horizontally */
  padding: 20px 0; /* Optional padding for spacing */
}


.video-container iframe {
  width: 100%; /* Let it fill the container */
  max-width: auto; /* Adjust to limit its maximum size */
  height: auto; /* Height is auto to maintain aspect ratio */
  aspect-ratio: 3 / 2; /* Maintain a 16:9 aspect ratio */
  border-radius: 30px; /* Apply your desired border-radius */
}

/*end of homepage */

.project-container {
  max-width: 900px; /* Example: Adjust this to match the bio's width */
  margin: 20px auto; /* Centers the container */
  display: block;
}

.project-container .content p {
  font-size: 1.5em; /* Larger text */
  text-align: center;
  color: #333; /* Darker color for better readability */
  font-weight: 400; /* Adjust based on preference */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.collapsible{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
}

.project-container {
  margin-bottom: 20px; /* Space between each project container */
  text-align: center; /* Center the content */
}

.collapsible {
  background-color: #5a5a5a;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 2em;
  border-radius: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.collapsible:after {
  content: '\002B'; /* Unicode character for "+" sign */
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.collapsible.active:after {
  content: "\2212"; /* Unicode character for "-" sign */
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  border-radius: 0 0 10px 10px;
}

.project-links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 20px; /* Adjust the space between icons */
}

.project-links a {
  color: #232323; /* Icon color, adjust as needed */
  font-size: 24px; /* Icon size */
}

.project-links a:hover {
  color: #5a5a5a; /* Icon hover color, adjust as needed */
}

.project-container .content img {
  display: block;
  margin: 0 auto; /* Centers the image */
  max-width: 100%; /* Ensures the image is responsive and doesn't overflow its container */
}



.project-month{
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 3em;
}

@media (max-width: 767px) {
  #menubar-name{
    font-size: 2.5em;
    padding-left: 0px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  /* Adjust the name and occupation size */
  .personal-info h1 {
    font-size: 1.5em; /* Make the font size smaller for mobile */
    text-align: center;
  }

  .personal-info .subtitle {
    font-size: .75em; /* Adjust subtitle size as needed */
    text-align: center;
  }

  /* Change order and layout for social media links */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
  }

  /* Specific adjustments to place social media icons below name/occupation */
  .social-media-links {
    order: 3; /* Place social media links below the name/occupation on mobile */
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: -20px; /* Add some space above the social media links */
  }

  .social-logo{
    width: 50px;
    height: 50px;
  }
  .personal-info {
    order: 2; /* Ensure name/occupation comes before social media links */
    text-align: center;
    margin-top: -50px;
  }

  .profile-image {
    order: 1; /* Profile image remains at the top */
    width: 50%; /* Adjust image size for mobile */
    max-width: 200px;
    margin: 20px auto;
  }

  .bio {
    order: 4; /* Ensure bio is at the bottom */
    width: 90%;
    margin: -5px auto; /* Center the bio and provide some spacing */
    font-size: 23px;
  }
  #menu{
    width: 100%;
    padding-bottom: 45px;
    box-sizing: border-box;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    height: 325px;
  }
  body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
    .video-container {
      order: 4; /* Position the video after the bio */
      width: 90%; /* Adjust width to match the bio's mobile styling */
      height: auto; /* Height can be auto or adjust based on the aspect ratio */
      border-radius: 30px; /* Your adjusted border-radius */
    }

    .collapsible {
      background-color: #5a5a5a;
      color: white;
      cursor: pointer;
      padding: 18px;
      width: 75%;
      border: none;
      text-align: center;
      outline: none;
      font-size: 2em;
      border-radius: 10px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .content{
      width: 75%;
      margin-left: auto;
      margin-right: 40px;
      padding-inline: 20px;
    }
    .project-container .content p {
      font-size: 1em; /* Larger text */
      text-align: center;
      color: #333; /* Darker color for better readability */
      font-weight: 400; /* Adjust based on preference */
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .collapsible {
      content: '\002B'; /* Unicode character for "+" sign */
      color: white;
      font-weight: bold;
      float: right;
      margin-left: auto;
      margin-right: 57px;
      
      font-size: 1.25em;
      text-align: center; /* Center the content horizontally */
      display: flex;
      justify-content: center;
      align-items: center;
    }

 